.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    .title-one{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
    }
    .title-two{
        font-family: "Fiber";
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
    }
}