.product-carts{
    .new{
        position: absolute;
        top: 0px;
        right: 35px;
        width: 96px;
        height: 42px;
        background: #D62828;
        color: #FFFFFF;
        border-radius: 7px;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        align-items: center;
        justify-content: center;
    }
    .ant-card{
        background: #1D1D1D ;
        padding: 25px 15px;
        border-radius: 16px;
        border: 0px;
        .ant-card-cover{
            height: 250px;
            .ant-image-img {
                height: 250px !important;
            }
            img{
                border-radius: 16px;
            }
        }
        .ant-card-body{
            padding: 30px 0 0 0;
            .card-title{
                display: flex;
                // align-items: center;
                justify-content: space-between;
                width: 100%;
                border-bottom: 1px solid #FFFFFF1A;
                padding-bottom: 20px;
                .card-price{
                    font-family: "Poppins", sans-serif;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 24px;
                    line-height: 36px;
                    color: #D62828;
                }
                .card-rating{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    img{
                        width: 23px;
                    }
                    span{
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 36px;
                        color: #FFFFFF;
                    }
                }
            }
            .info-card{
                padding-top: 20px;
                display: flex;
                align-items: start;
                flex-direction: column;
                .info-details{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 15px;
                    .info-detail{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        img{
                            width: 23px;
                        }
                        span{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            color: #FFFFFF;
                        }
                    }
                }
                .info-title{
                    color: #FFFFFF;
                    font-family: "Poppins", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    width: fit-content;
                    // margin: 0 auto;
                    margin-bottom: 20px;
                }
                .add-to-cart-btn{
                    width: 100%;
                    margin-top: 30px;
                    background: transparent;
                    border: 3px solid #fff;
                    border-radius: 8px;
                    height: 50px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 16px;
                    &:hover{
                        background: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
    
}